<div class = "six columns venues">
	<div>
		<h3>Places to Drink: </h3>
	</div>
	<div class = "row"></div>
<ol>

<% @venues.each do |venue| %>

	<li>
		<h4><%= link_to venue[:name], maintips_path(venue.id) %></h4>
		<p><%= venue[:address].gsub(",",", ") %> 
			<br>
			<% if current_user.favorite_venue_ids.include?(venue.id) %>
				<%= link_to "Remove from Favorites", :controller => :favorites, :action => "delete", :id => venue[:id]%>
				<% else %>
				<%= link_to "Add to Favorites", :controller => :favorites, :action => "new", :id => venue[:id] %>
			<% end %>		
	</li>
	<% end %> 
</ol>
</div>

