<div class = "intro background">
	<div class = "five columns offset-by-three" id = "intro">
		<div class = "intro_button">
			<%= link_to "Why Drink Alone?", main_path, class: "intro_text" %>
		</div>

	</div>
</div>