.tips ul {
	display: inline;
		
}

#each_tip {
		float: left;
		height: 100px;
		width: 200px;
}

.background {
			height:100%;
			width: 100%;
}

#intro {
	margin-top: 250px;
}

.intro_text {
	text-decoration: none;
	color: white;
}

.intro_button{
	background-color:#1abc9c;
	float: left;
	width: 200px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Helevetica', sans-serif;
	letter-spacing: 1px;
	border-bottom: 6px solid #bdc3c7;
	cursor: pointer;
	border-radius: 4px;

	   -moz-transition: all .5s;
	     -o-transition: all .5s;
	-webkit-transition: all .5s;
	        transition: all .5s;
}

.intro_button:hover{
	background-color: #16a085;
	border-color: gray;
}
